.side-nav {
    padding: 0;
    height: 100%;

    .logo {
        min-height: 64px;
        background-color: var(--dsVars-primary-light-color);
    }

    .nav-btn {
        width: 100%;
        display: flex;
        justify-content: start;

        &.active-link {
            color: var(--dsVars-white);
            background-color: var(--dsVars-primary-color);
        }
    }
}