<nav class="side-nav">
  <div class="logo">
    @if (sideNavMode === 'over') {
      <button mat-button (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
    }

  </div>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of navItems">
      <a mat-button class="nav-btn" [routerLink]="item.path" routerLinkActive="active-link">
        <mat-icon>{{item.icon}}</mat-icon>
        {{ item.label }}
    </a>
    </mat-list-item>
  </mat-list>
</nav>
