.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card {
  background-image: url('../../../assets/images/bycycling.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220px;
  text-transform: capitalize;
  color: var(--dsVars-white);
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dsVars-primary-dark);
    opacity: 0.6;
  }

  .title {
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 5px;
      left: 0;
      bottom: 0;
      background-color: var(--dsVars-primary-color);
    }
  }

  .title, span, .card-footer {
    position: relative;
    z-index: 1;
  }

  .card-footer {
    padding: 0 16px 16px;
  }
}

.example-item {
  height: 50px;
}

.example-header,
.example-footer {
  height: 100px;
  background: lightgray;
}
