<section>
  <h2>Exercises</h2>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search exercises</mat-label>
      <input
        type="text"
        class="text-capitalize"
        matInput
        [formControl]="searchControl"
      />
    </mat-form-field>
  </form>

  <div class="row py-4" appDsInfiniteScroll (scrolled)="loadMore($event)">
    @for (exercise of exercises; track exercise) {
    <article class="col col-4">
      <mat-card
        class="card flex flex-column justify-content-between"
        appearance="outlined"
      >
        <mat-card-header>
          <mat-card-title>
            <span class="title title-underline pb-2">{{ exercise.category }}</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span>{{ exercise.description }}</span>
        </mat-card-content>
        <mat-card-footer class="card-footer flex justify-content-end">
          <a routerLink="add-exercise/{{exercise._id}}" class="accent btn-sm" mat-flat-button>Add exercise</a>
        </mat-card-footer>
      </mat-card>
    </article>
    }
  </div>
  @if (loading$ | async) {
    <div class="flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  }
</section>

<router-outlet>